/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .form_reservation_title_head {
        width: 50%;
        padding: 4%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .form_reservation_title_head {
        width: 50%;
        padding: 4%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .form_reservation_title_head {
        width: 50%;
        padding: 3%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .form_reservation_title_head {
        width: 30%;
        padding: 2%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .form_reservation_title_head {
        width: 20%;
        padding: 1%;
    }
}